<!DOCTYPE html>
<html>
<head>
  <title>Create Form</title>
  
	<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '879840060484568');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=879840060484568&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
</head>
<body>
  <button onclick="showForm()">Create plan</button>

  <div id="formContainer" style="display: none;">
    <form id="myForm" action="" method="POST">
      {% csrf_token %}   
      <label for="plan_name_1">PLAN Name:</label>
      <select id="name" name="plan_name_1" required>
        <option value="silver">Silver</option>
        <option value="gold">Gold</option>
        <option value="diamond">Diamond</option>
      </select><br><br>
      
      
      <label for="admin_plan_1_d">PLAN description </label>
      <input type="text" id="email" name="admin_plan_1_d" required><br><br>

      <label for="amount_plan">PLAN amount </label>
      <input type="text" id="amount_plan" name="amount_plan" required><br><br>
      
      <input type="submit" value="Submit">
    </form>
  </div>

  <div>
    <table class="table">
        <thead>
            <tr style="text-align: center;">
                <th align="center">Plan name</th>
                <th align="center">Plan description</th>
                <th align="center">Plan amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>
                    {{ i.plan_name_1 }}
                </td>
                <td>
                    {{ i.admin_plan_1_d }}
                </td>
                <td>
                    {{ i.amount_plan }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



  <script>
    function showForm() {
      document.getElementById("formContainer").style.display = "block";
    }
  </script>


</body>
</html>
