<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment Success</title>
    
	<!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '879840060484568');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=879840060484568&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
    <h1>Payment Success</h1>
    <h1>transaction_id {{transaction_id}}</h1>
    <h1>muser_id{{muser_id}}</h1>
    <h1>amount{{amount}}</h1>
    <h1>recharge_date{{recharge_date}}</h1>
    <h1>recharge_time{{recharge_time}}</h1>
    <h1>Payment wallet_month{{wallet_month}}</h1>
    <h1>Payment name{{name}}</h1>

</body>
</html>