
{% block content%}

<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{key}}",
        amount: "{{amount}}", 
        currency: "INR",
        name: "Guruji Speaks",
        description: "Amount will be added to your wallet",
        image: "http://127.0.0.1:8000/static/assets/img/GrujiSpeaks-img/logo-2.png",
        order_id: "{{razorpay_order}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        prefill: {
            "name": "{{user_name}}",
            "email": "{{email}}",
            "contact":"{{contact}}"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>   
 {% endblock %}